USE [master]
GO
/****** Object:  Database [Proyecto Bases de Datos]    Script Date: 17/03/2026 12:42:09 a. m. ******/
CREATE DATABASE [Proyecto Bases de Datos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Proyecto Bases de Datos', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Proyecto Bases de Datos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Proyecto Bases de Datos_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Proyecto Bases de Datos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Proyecto Bases de Datos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Proyecto Bases de Datos]
GO
/****** Object:  Table [dbo].[AÑO]    Script Date: 17/03/2026 12:42:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AÑO](
	[ID_AÑO] [int] NOT NULL,
	[Año] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_AÑO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AUTO]    Script Date: 17/03/2026 12:42:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTO](
	[ID_AUTO] [int] IDENTITY(1,1) NOT NULL,
	[ID_FABRICANTE] [int] NOT NULL,
	[ID_MODELO] [int] NOT NULL,
	[ID_AÑO] [int] NOT NULL,
	[ID_MOTOR] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_AUTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AUTO_ESTANDAR]    Script Date: 17/03/2026 12:42:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTO_ESTANDAR](
	[ID_AUTO] [int] NOT NULL,
	[ID_ESTANDAR] [int] NOT NULL,
 CONSTRAINT [PK_AUTO_ESTANDAR] PRIMARY KEY CLUSTERED 
(
	[ID_AUTO] ASC,
	[ID_ESTANDAR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CALLE]    Script Date: 17/03/2026 12:42:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CALLE](
	[ID_CALLE] [int] NOT NULL,
	[CALLE] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CALLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARGO_CONTACTO]    Script Date: 17/03/2026 12:42:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARGO_CONTACTO](
	[ID_CARGO] [int] NOT NULL,
	[Cargo] [nvarchar](80) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CARGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 17/03/2026 12:42:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[ID Cliente] [varchar](8) NOT NULL,
	[Nombre] [nchar](30) NULL,
	[Dirección] [nchar](30) NULL,
	[Telefono] [int] NULL,
	[E-mail] [nchar](30) NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[ID Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE_PERSONA]    Script Date: 17/03/2026 12:42:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE_PERSONA](
	[ID_CLIENTE] [int] NOT NULL,
	[RFC] [char](13) NOT NULL,
	[Teléfono] [varchar](20) NULL,
	[Fax] [varchar](20) NULL,
	[Saldo] [money] NULL,
	[ID_DIRECCION] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CODIGO_POSTAL]    Script Date: 17/03/2026 12:42:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CODIGO_POSTAL](
	[ID_CP] [int] NOT NULL,
	[CP] [char](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COLONIA]    Script Date: 17/03/2026 12:42:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COLONIA](
	[ID_COLONIA] [int] NOT NULL,
	[COLONIA] [nvarchar](80) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_COLONIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTACTO]    Script Date: 17/03/2026 12:42:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTACTO](
	[ID_CONTACTO] [int] NOT NULL,
	[Nombre] [nvarchar](120) NOT NULL,
	[Extensión] [nvarchar](10) NULL,
	[Celular] [nvarchar](20) NULL,
	[ID_CARGO CONTACTO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CONTACTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle - Pedido]    Script Date: 17/03/2026 12:42:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle - Pedido](
	[ID Pedido] [varchar](8) NOT NULL,
	[ID Proveedor] [varchar](8) NOT NULL,
	[Cantidad] [int] NULL,
 CONSTRAINT [PK_Detalle - Pedido] PRIMARY KEY CLUSTERED 
(
	[ID Pedido] ASC,
	[ID Proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle Factura]    Script Date: 17/03/2026 12:42:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle Factura](
	[ID Factura] [varchar](8) NOT NULL,
	[ID Producto] [varchar](8) NOT NULL,
	[Cantidad] [nchar](10) NULL,
	[Precio Unitario] [money] NULL,
 CONSTRAINT [PK_Detalle Factura] PRIMARY KEY CLUSTERED 
(
	[ID Factura] ASC,
	[ID Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIRECCION]    Script Date: 17/03/2026 12:42:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIRECCION](
	[ID_DIRECCION] [int] NOT NULL,
	[ID_CALLE] [int] NOT NULL,
	[ID_NUMERO] [int] NOT NULL,
	[ID_COLONIA] [int] NOT NULL,
	[ID_ENTIDAD] [int] NOT NULL,
	[ID_PAIS] [int] NOT NULL,
	[ID_CP] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DIRECCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENTIDAD]    Script Date: 17/03/2026 12:42:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENTIDAD](
	[ID_ENTIDAD] [int] NOT NULL,
	[MUNICIPIO] [nvarchar](60) NOT NULL,
	[ESTADO] [nvarchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ENTIDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTANDAR]    Script Date: 17/03/2026 12:42:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTANDAR](
	[ID_ESTANDAR] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ESTANDAR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FABRICANTE]    Script Date: 17/03/2026 12:42:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FABRICANTE](
	[ID_FABRICANTE] [int] NOT NULL,
	[Fabricante] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_FABRICANTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 17/03/2026 12:42:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[ID Factura] [varchar](8) NOT NULL,
	[Fecha] [date] NULL,
	[Total] [money] NULL,
	[ID Pago] [varchar](8) NOT NULL,
	[ID Cliente] [varchar](8) NOT NULL,
 CONSTRAINT [PK_Factura] PRIMARY KEY CLUSTERED 
(
	[ID Factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GENERAL]    Script Date: 17/03/2026 12:42:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENERAL](
	[ID_PROVEEDOR] [int] NOT NULL,
	[ID_DIRECCION] [int] NOT NULL,
	[ID_CONTACTO] [int] NOT NULL,
 CONSTRAINT [PK_GENERAL2] PRIMARY KEY CLUSTERED 
(
	[ID_PROVEEDOR] ASC,
	[ID_DIRECCION] ASC,
	[ID_CONTACTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRUPO]    Script Date: 17/03/2026 12:42:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRUPO](
	[ID_GRUPO] [int] NOT NULL,
	[Grupo] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_GRUPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LINEA]    Script Date: 17/03/2026 12:42:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LINEA](
	[ID_LINEA] [int] NOT NULL,
	[Línea] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LINEA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARCA]    Script Date: 17/03/2026 12:42:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCA](
	[ID_MARCA] [int] NOT NULL,
	[Marca] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MARCA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MODELO]    Script Date: 17/03/2026 12:42:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MODELO](
	[ID_MODELO] [int] NOT NULL,
	[Modelo] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MODELO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOTOR]    Script Date: 17/03/2026 12:42:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOTOR](
	[ID_MOTOR] [int] NOT NULL,
	[Motor] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MOTOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NUMERO]    Script Date: 17/03/2026 12:42:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NUMERO](
	[ID_NUMERO] [int] NOT NULL,
	[NUMERO] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_NUMERO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pago]    Script Date: 17/03/2026 12:42:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[ID Pago] [varchar](8) NOT NULL,
	[Fecha de Pago] [date] NULL,
	[Monto] [money] NULL,
	[Metodo de Pago] [nchar](30) NULL,
 CONSTRAINT [PK_Pago] PRIMARY KEY CLUSTERED 
(
	[ID Pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAIS]    Script Date: 17/03/2026 12:42:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAIS](
	[ID_PAIS] [int] NOT NULL,
	[PAIS] [nvarchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PAIS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedido]    Script Date: 17/03/2026 12:42:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido](
	[ID Pedido] [varchar](8) NOT NULL,
	[Fecha Pedido] [date] NULL,
	[Estado] [nchar](15) NULL,
 CONSTRAINT [PK_Pedido] PRIMARY KEY CLUSTERED 
(
	[ID Pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 17/03/2026 12:42:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[ID Producto] [varchar](8) NOT NULL,
	[Nombre] [nchar](30) NULL,
	[Descripción] [nchar](50) NULL,
	[Precio] [money] NULL,
	[Stock] [int] NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[ID Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO_ESTANDAR]    Script Date: 17/03/2026 12:42:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO_ESTANDAR](
	[ID_PRODUCTO] [int] NOT NULL,
	[ID_ESTANDAR] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCTO3_ESTANDAR] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC,
	[ID_ESTANDAR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO_PROVEEDOR]    Script Date: 17/03/2026 12:42:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO_PROVEEDOR](
	[ID_PRODUCTO] [int] NOT NULL,
	[ID_PROVEEDOR] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCTO3_PROVEEDOR] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC,
	[ID_PROVEEDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO3]    Script Date: 17/03/2026 12:42:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO3](
	[ID_PRODUCTO] [int] IDENTITY(1,1) NOT NULL,
	[ID_GRUPO] [int] NOT NULL,
	[ID_LINEA] [int] NOT NULL,
	[ID_MARCA] [int] NOT NULL,
	[ID_UNIDAD] [int] NOT NULL,
	[Clave interna] [nvarchar](50) NULL,
	[Clave externa] [nvarchar](50) NULL,
	[COSTO] [money] NOT NULL,
	[PRECIO] [money] NOT NULL,
	[EXISTENCIA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 17/03/2026 12:42:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[ID Proveedor] [varchar](8) NOT NULL,
	[Nombre] [nchar](30) NULL,
	[Contacto] [nchar](20) NULL,
	[Telefono] [int] NULL,
	[Dirección] [nchar](30) NULL,
 CONSTRAINT [PK_Proveedor] PRIMARY KEY CLUSTERED 
(
	[ID Proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDOR2]    Script Date: 17/03/2026 12:42:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDOR2](
	[IDProveedor] [int] NOT NULL,
	[RFC] [varchar](15) NOT NULL,
	[Nombre] [nvarchar](120) NOT NULL,
	[ID_TELEFONO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suministro]    Script Date: 17/03/2026 12:42:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suministro](
	[ID Proveedor] [varchar](8) NOT NULL,
	[ID Producto] [varchar](8) NOT NULL,
 CONSTRAINT [PK_Suministro] PRIMARY KEY CLUSTERED 
(
	[ID Proveedor] ASC,
	[ID Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TELEFONO_PROVEEDOR]    Script Date: 17/03/2026 12:42:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TELEFONO_PROVEEDOR](
	[ID_TELEFONO] [int] NOT NULL,
	[Teléfono] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TELEFONO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UNIDAD]    Script Date: 17/03/2026 12:42:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UNIDAD](
	[ID_UNIDAD] [int] NOT NULL,
	[UNIDAD] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_UNIDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AUTO]  WITH CHECK ADD FOREIGN KEY([ID_MODELO])
REFERENCES [dbo].[MODELO] ([ID_MODELO])
GO
ALTER TABLE [dbo].[AUTO]  WITH CHECK ADD FOREIGN KEY([ID_MOTOR])
REFERENCES [dbo].[MOTOR] ([ID_MOTOR])
GO
ALTER TABLE [dbo].[AUTO]  WITH CHECK ADD  CONSTRAINT [FK_AUTO_AÑO] FOREIGN KEY([ID_AÑO])
REFERENCES [dbo].[AÑO] ([ID_AÑO])
GO
ALTER TABLE [dbo].[AUTO] CHECK CONSTRAINT [FK_AUTO_AÑO]
GO
ALTER TABLE [dbo].[AUTO]  WITH CHECK ADD  CONSTRAINT [FK_AUTO_FABRICANTE] FOREIGN KEY([ID_FABRICANTE])
REFERENCES [dbo].[FABRICANTE] ([ID_FABRICANTE])
GO
ALTER TABLE [dbo].[AUTO] CHECK CONSTRAINT [FK_AUTO_FABRICANTE]
GO
ALTER TABLE [dbo].[AUTO_ESTANDAR]  WITH CHECK ADD  CONSTRAINT [FK_AE_AUTO] FOREIGN KEY([ID_AUTO])
REFERENCES [dbo].[AUTO] ([ID_AUTO])
GO
ALTER TABLE [dbo].[AUTO_ESTANDAR] CHECK CONSTRAINT [FK_AE_AUTO]
GO
ALTER TABLE [dbo].[AUTO_ESTANDAR]  WITH CHECK ADD  CONSTRAINT [FK_AE_ESTANDAR] FOREIGN KEY([ID_ESTANDAR])
REFERENCES [dbo].[ESTANDAR] ([ID_ESTANDAR])
GO
ALTER TABLE [dbo].[AUTO_ESTANDAR] CHECK CONSTRAINT [FK_AE_ESTANDAR]
GO
ALTER TABLE [dbo].[CLIENTE_PERSONA]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_PERSONA_DIRECCION2] FOREIGN KEY([ID_DIRECCION])
REFERENCES [dbo].[DIRECCION] ([ID_DIRECCION])
GO
ALTER TABLE [dbo].[CLIENTE_PERSONA] CHECK CONSTRAINT [FK_CLIENTE_PERSONA_DIRECCION2]
GO
ALTER TABLE [dbo].[CONTACTO]  WITH CHECK ADD FOREIGN KEY([ID_CARGO CONTACTO])
REFERENCES [dbo].[CARGO_CONTACTO] ([ID_CARGO])
GO
ALTER TABLE [dbo].[Detalle - Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Detalle - Pedido_Pedido1] FOREIGN KEY([ID Pedido])
REFERENCES [dbo].[Pedido] ([ID Pedido])
GO
ALTER TABLE [dbo].[Detalle - Pedido] CHECK CONSTRAINT [FK_Detalle - Pedido_Pedido1]
GO
ALTER TABLE [dbo].[Detalle - Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Detalle - Pedido_Proveedor] FOREIGN KEY([ID Proveedor])
REFERENCES [dbo].[Proveedor] ([ID Proveedor])
GO
ALTER TABLE [dbo].[Detalle - Pedido] CHECK CONSTRAINT [FK_Detalle - Pedido_Proveedor]
GO
ALTER TABLE [dbo].[Detalle Factura]  WITH CHECK ADD  CONSTRAINT [FK_Detalle Factura_Factura] FOREIGN KEY([ID Factura])
REFERENCES [dbo].[Factura] ([ID Factura])
GO
ALTER TABLE [dbo].[Detalle Factura] CHECK CONSTRAINT [FK_Detalle Factura_Factura]
GO
ALTER TABLE [dbo].[Detalle Factura]  WITH CHECK ADD  CONSTRAINT [FK_Detalle Factura_Producto] FOREIGN KEY([ID Producto])
REFERENCES [dbo].[Producto] ([ID Producto])
GO
ALTER TABLE [dbo].[Detalle Factura] CHECK CONSTRAINT [FK_Detalle Factura_Producto]
GO
ALTER TABLE [dbo].[DIRECCION]  WITH CHECK ADD FOREIGN KEY([ID_CALLE])
REFERENCES [dbo].[CALLE] ([ID_CALLE])
GO
ALTER TABLE [dbo].[DIRECCION]  WITH CHECK ADD FOREIGN KEY([ID_COLONIA])
REFERENCES [dbo].[COLONIA] ([ID_COLONIA])
GO
ALTER TABLE [dbo].[DIRECCION]  WITH CHECK ADD FOREIGN KEY([ID_CP])
REFERENCES [dbo].[CODIGO_POSTAL] ([ID_CP])
GO
ALTER TABLE [dbo].[DIRECCION]  WITH CHECK ADD FOREIGN KEY([ID_ENTIDAD])
REFERENCES [dbo].[ENTIDAD] ([ID_ENTIDAD])
GO
ALTER TABLE [dbo].[DIRECCION]  WITH CHECK ADD FOREIGN KEY([ID_NUMERO])
REFERENCES [dbo].[NUMERO] ([ID_NUMERO])
GO
ALTER TABLE [dbo].[DIRECCION]  WITH CHECK ADD FOREIGN KEY([ID_PAIS])
REFERENCES [dbo].[PAIS] ([ID_PAIS])
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Cliente] FOREIGN KEY([ID Cliente])
REFERENCES [dbo].[Cliente] ([ID Cliente])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura_Cliente]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Pago] FOREIGN KEY([ID Pago])
REFERENCES [dbo].[Pago] ([ID Pago])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura_Pago]
GO
ALTER TABLE [dbo].[GENERAL]  WITH CHECK ADD FOREIGN KEY([ID_CONTACTO])
REFERENCES [dbo].[CONTACTO] ([ID_CONTACTO])
GO
ALTER TABLE [dbo].[GENERAL]  WITH CHECK ADD FOREIGN KEY([ID_DIRECCION])
REFERENCES [dbo].[DIRECCION] ([ID_DIRECCION])
GO
ALTER TABLE [dbo].[GENERAL]  WITH CHECK ADD FOREIGN KEY([ID_PROVEEDOR])
REFERENCES [dbo].[PROVEEDOR2] ([IDProveedor])
GO
ALTER TABLE [dbo].[PRODUCTO_ESTANDAR]  WITH CHECK ADD  CONSTRAINT [FK_P3E_ESTANDAR] FOREIGN KEY([ID_ESTANDAR])
REFERENCES [dbo].[ESTANDAR] ([ID_ESTANDAR])
GO
ALTER TABLE [dbo].[PRODUCTO_ESTANDAR] CHECK CONSTRAINT [FK_P3E_ESTANDAR]
GO
ALTER TABLE [dbo].[PRODUCTO_ESTANDAR]  WITH CHECK ADD  CONSTRAINT [FK_P3E_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTO3] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[PRODUCTO_ESTANDAR] CHECK CONSTRAINT [FK_P3E_PRODUCTO]
GO
ALTER TABLE [dbo].[PRODUCTO_PROVEEDOR]  WITH CHECK ADD  CONSTRAINT [FK_P3P_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTO3] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[PRODUCTO_PROVEEDOR] CHECK CONSTRAINT [FK_P3P_PRODUCTO]
GO
ALTER TABLE [dbo].[PRODUCTO_PROVEEDOR]  WITH CHECK ADD  CONSTRAINT [FK_P3P_PROVEEDOR2] FOREIGN KEY([ID_PROVEEDOR])
REFERENCES [dbo].[PROVEEDOR2] ([IDProveedor])
GO
ALTER TABLE [dbo].[PRODUCTO_PROVEEDOR] CHECK CONSTRAINT [FK_P3P_PROVEEDOR2]
GO
ALTER TABLE [dbo].[PRODUCTO3]  WITH CHECK ADD FOREIGN KEY([ID_GRUPO])
REFERENCES [dbo].[GRUPO] ([ID_GRUPO])
GO
ALTER TABLE [dbo].[PRODUCTO3]  WITH CHECK ADD FOREIGN KEY([ID_LINEA])
REFERENCES [dbo].[LINEA] ([ID_LINEA])
GO
ALTER TABLE [dbo].[PRODUCTO3]  WITH CHECK ADD FOREIGN KEY([ID_MARCA])
REFERENCES [dbo].[MARCA] ([ID_MARCA])
GO
ALTER TABLE [dbo].[PRODUCTO3]  WITH CHECK ADD FOREIGN KEY([ID_UNIDAD])
REFERENCES [dbo].[UNIDAD] ([ID_UNIDAD])
GO
ALTER TABLE [dbo].[PROVEEDOR2]  WITH CHECK ADD FOREIGN KEY([ID_TELEFONO])
REFERENCES [dbo].[TELEFONO_PROVEEDOR] ([ID_TELEFONO])
GO
ALTER TABLE [dbo].[Suministro]  WITH CHECK ADD  CONSTRAINT [FK_Suministro_Producto] FOREIGN KEY([ID Producto])
REFERENCES [dbo].[Producto] ([ID Producto])
GO
ALTER TABLE [dbo].[Suministro] CHECK CONSTRAINT [FK_Suministro_Producto]
GO
ALTER TABLE [dbo].[Suministro]  WITH CHECK ADD  CONSTRAINT [FK_Suministro_Proveedor] FOREIGN KEY([ID Proveedor])
REFERENCES [dbo].[Proveedor] ([ID Proveedor])
GO
ALTER TABLE [dbo].[Suministro] CHECK CONSTRAINT [FK_Suministro_Proveedor]
GO
USE [master]
GO
